body{
  background-image: url("https://i.pinimg.com/originals/96/1b/20/961b20204cb07fbb7813fa51a468c601.jpg");
  background-repeat: no-repeat;
  background-size: 1280px 560px;
}
#button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;


}
#modal{
  display: none;
  position: fixed;
  z-index: 1;
  left:0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
#content{
  background-color: #FFFFFF;
  z-index: 2;
  text-align: center;
  border: 1px solid black;
  padding: 5%;
  margin: 15% auto;
  width: 50%;
}
